<nav class="navbar navbar-full navbar-light navbar-fixed-top perspective-spacing">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav navbar-nav pull-xs-right" style="font-size: smaller">
                    <li class="nav-item">
                        <span class="legend-item box status-Critical p-l-1"> </span>
                        {{legend.Critical.label}}
                    </li>
                    <li class="nav-item">
                        <span class="legend-item box status-Warning p-l-1"> </span>
                        {{legend.Warning.label}}
                    </li>
                    <li class="nav-item">
                        <span class="legend-item box status-OK p-l-1"> </span>
                        {{legend.OK.label}}
                    </li>

                   </ul>
            </div><!-- col -->
        </div><!-- row -->
</nav><!-- navbar -->